ADMIN_ID = telegram_id
BOT_TOKEN = bot_token
WEBHOOK_SECRET = "my-secret"
PORT = 3000
MONGO_URI = mongodb+srv://<user_name>:<parol>@cluster0.qd8wqjy.mongodb.net/audit_bot?appName=Cluster0&retryWrites=true&w=majority